<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Welcome to PickFlix</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/views/users/index.ejs" class="brand-logo center">PickFlix</a>
                <ul class="right">
                    <li>
                        <% if (user) { %>
                            <a href="/logout">Log Out</a>
                            <% } else { %>
                                <a href="/auth/google">Login with Google</a>
                                <% } %>