<!DOCTYPE html>
<html lang="en">

<head>
    <title>PickFlix</title>
    <meta name="description" content="PickFlix app" />
    <meta name="title" property="og:title" content="PickFlix" />
    <meta property="og:type" content="website" />
    <meta name="image" property="og:image" content="https://i.imgur.com/8rRPmQK.png" />
    <meta name="description" property="og:description" content="PickFlix" />
    <meta name="author" content="Justin Tuisamoa" />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper black">
                <a id="pickflix" href="/" class="brand-logo center red-text">PickFlix</a>
                <!-- <% if (user) { %>
                    <%}else {%>
                        <P>Please <a class="red-text" href="/auth/google"><i class="material-icons left">vpn_key</i> Log
                                In</a></P>
                        <% } %> -->

                <ul class="right">
                    <li>
                        <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <a href="/flix/new" class="waves-effect red btn pulse">Add Flix</a>


                            <% } else { %>
                                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with
                                    Google</a>
                                <% } %>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <% if (user) { %>


        <a href="/flix"><span class="material-icons-outlined red btn">
                All Flix
            </span></a>
        <% } else { %>
            <p></p>
            <% } %>