<%- include('../../partials/header') %>
    <% %>
        <div class="container">
            <form id="new-form" action="/flix/index" method="POST">
                <label>Title:</label>
                <input type="text" name="title">
                <label>Release Year:</label>
                <input type="text" name="releaseYear">

                <label>MPAA Rating</label>
                <select class="dropdown-trigger red btn" name="mpaaRating">
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>

                <input type="submit" value="Add Flix">
                <input class="checkbox" type="checkbox" name="didEnjoy" checked>

            </form>
        </div>



        <%- include('../../partials/footer') %>