<%- include('../partials/header') %>

    <body class="home">


        <div id="home-page" class="container-fluid center">
            <h1 id="glitch">
                Welcome to <span class="red-text">PickFlix</span>
            </h1>
            <!-- <p class="white-text pulse">Login To Add Flix</p> -->


        </div>
        <% if (user) {%>

            <!-- <a href="/rando" class="waves-effect red btn pulse">Rando</a> -->
            <% } else { %>
                <p></p>
                <% } %>



    </body>









    <%- include('../partials/footer') %>