<%- include('../partials/header') %>

    <div class="container-fluid center">
        <h1>
            Hello World!
        </h1>
        <p>Welcome to PickFlix
        </p>

    </div>










    <%- include('../partials/footer') %>