<%- include('../partials/header') %>

    <div id="home-page" class="container-fluid center">
        <h1>
            Hello World!
        </h1>
        <p>Welcome to PickFlix
        </p>

    </div>
    <% if (user) {%>
        <a href="/flix/rando" class="waves-effect red btn pulse">Rando Pick</a>
        <% } else { %>
            <p></p>
            <% } %>













                <%- include('../partials/footer') %>