<%- include('../partials/header') %>

    <div class="container-fluid center silver">
        <h1>
            Hello World!
        </h1>
        <p>Welcome to PickFlix
        </p>
        <p>Please Log In To Begin!</p>
    </div>










    <%- include('../partials/footer') %>