


body, html {
  height: 100%;
}

.material-icons-outlined{
  border-radius: 8px;
}

#home-page {
  background: Black;
  
  
}



#glitch {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;

  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.25em -.05 0 rgba(0, 255, 0, .75),
  0.25em .05 0 rgba(0, 0, 255, .75);
  
  animation: glitch 500ms Infinite;;
 }
  
  @keyframes glitch {
    0% {
      text-shadow:
      0.05em 0 0 rgba(255, 0, 0, .75),
      -0.25em -.05 0 rgba(0, 255, 0, .75),
      0.25em .05 0 rgba(0, 0, 255, .75);
     }
     15% {
       text-shadow:
       -0.05em -0.5 -0.25 rgba(255, 0, 0, .75),
       0.25em .05 .25 rgba(0, 255, 0, .75),
       -0.25em -.05 -0.5 rgba(0, 0, 255, .75);
     }
     50% {
       text-shadow:
       0.25em 0 0 rgba(255, 0, 0, .75),
       -0.25em -.05 0 rgba(0, 255, 0, .75),
       0.25em .05 0 rgba(0, 0, 255, .75);
     }
     100% {
       text-shadow:
       -0.25em 0 0 rgba(255, 0, 0, .75),
       0.25em .05 0 rgba(0, 255, 0, .75),
       -0.25em -.05 0 rgba(0, 0, 255, .75);
     }
}