/* Body {
  background: url(https://i.imgur.com/ox3u0Nn.jpg);
} */

/* .welcome{
  background: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

li {
  background: black;
}

.nav-wrapper {
  background: black;
}
 */
